openapi: 3.0.0
servers:
  - url: 'https://bankapp.com/v1'
    description: Production server
  - url: 'http://localhost:3000/v1'
    description: Testing local server
info:
  version: 1.0.0
  title: Web Banking Application API
  description: The API for the web banking application

paths:
  /register:
    get:
      summary: Serves register page
      tags:
        - auth
      responses:
        '200':
          description: Register page returned successfully
          content:
            text/html:
              schema:
                type: string
                example: "<html>...</html>"
    post:
      summary: Sending sign-up form to register
      tags:
        - auth
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/NewUser'
      responses:
        '201':
          description: User created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad Request – Missing or malformed registration data
        '409':
          description: Conflict – Email already in use

  /login:
    get:
      summary: Serves login page
      tags:
        - auth
      responses:
        '200':
          description: Login page returned successfully
          content:
            text/html:
              schema:
                type: string
                example: "<html>...</html>"
    post:
      summary: Logging into the bank app
      tags:
        - auth
      security:
        - BearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/LoginUser'
      responses:
        '200':
          description: User logged in successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad Request – Missing or malformed login credentials
        '401':
          description: Unauthorized – Incorrect email or password or expired/invalid token

  /user/home:
    get:
      summary: Serves dashboard page
      tags:
        - user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Dashboard page returned successfully
          content:
            text/html:
              schema:
                type: string
                example: "<html>...</html>"

  /verify-passcode:
    post:
      summary: Verifies the passcode entered by the user
      tags:
        - user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                email:
                  type: string
                  description: The email of the user (must be registered)
                passcode:
                  type: string
                  description: The passcode entered by the user (received via SMS)
      responses:
        '200':
          description: Passcode verified successfully, registration completed
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Bad Request – Invalid passcode or email mismatch
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    example: "Invalid passcode or email mismatch"
        '500':
          description: Internal server error – Error occurred during passcode verification

  /user/transactions:
    put:
      summary: Update the list of transactions for a user
      tags:
        - user
      description: Adds a new transaction for a user
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                transaction:
                  $ref: '#/components/schemas/Transaction'
                  description: New transaction to execute
      responses:
        '200':
          description: Successfully updated the user's transactions
        '400':
          description: Invalid input or malformed request body
        '404':
          description: User not found

    get:
      summary: Retrieve the list of transactions for a user
      tags:
        - user
      description: Returns all transactions associated with the user
      security:
        - BearerAuth: []
      responses:
        '200':
          description: Successfully retrieved the user's transactions
          content:
            application/json:
              schema:
                type: object
                properties:
                  transactions:
                    type: array
                    items:
                      $ref: '#/components/schemas/Transaction'
                    description: List of transactions to be associated with the user
                description: A list of transactions for the user
        '404':
          description: User not found

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    Transaction:
      type: object
      properties:
        receiver:
          type: string
          description: Email of user to send to
        amount: 
          type: integer
          description: Amount involved in the transaction

    User:
      type: object
      properties:
        email:
          type: string
        id:
          type: integer
        phone:
          type: string
        amount:
          type: integer
        transactions:
          type: array
          items:
            $ref: '#/components/schemas/Transaction'

    NewUser:
      type: object
      properties:
        email:
          type: string
        password:
          type: string
        phone:
          type: string

    LoginUser:
      type: object
      properties:
        email:
          type: string
        password:
          type: string

    AuthResponse:
      type: object
      properties:
        user:
          $ref: '#/components/schemas/User'
        token:
          type: string
          description: JWT for authenticated requests
          example: "eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9..."
